$alphabet: 'A', 'Ą', 'B', 'C', 'Ć', 'D', 'E', 'Ę', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'Ł', 'M', 'N', 'Ń', 'O', 'Ó', 'P', 'R', 'S', 'Ś', 'T', 'U', 'W', 'Y', 'Z', 'Ź', 'Ż';
$numberOfWords: 1;
$word: 'KUROPATWA';
$letters: 'K', 'U', 'R', 'O', 'P', 'A', 'T', 'W', 'A';
$numberOfLetters: 9;
$lettersInWord: 'A', 'K', 'O', 'P', 'R', 'T', 'U', 'W';
$numberOfLettersInWord: 8;
$lettersNotInWord: 'Ą', 'B', 'C', 'Ć', 'D', 'E', 'Ę', 'F', 'G', 'H', 'I', 'J', 'L', 'Ł', 'M', 'N', 'Ń', 'Ó', 'S', 'Ś', 'Y', 'Z', 'Ź', 'Ż';
$numberOfLettersNotInWord: 24;