$alphabet: 'A', 'Ą', 'B', 'C', 'Ć', 'D', 'E', 'Ę', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'Ł', 'M', 'N', 'Ń', 'O', 'Ó', 'P', 'R', 'S', 'Ś', 'T', 'U', 'W', 'Y', 'Z', 'Ź', 'Ż';
$numberOfWords: 1;
$word: 'KOTEK';
$letters: 'K', 'O', 'T', 'E', 'K';
$numberOfLetters: 5;
$lettersInWord: 'E', 'K', 'O', 'T';
$numberOfLettersInWord: 4;
$lettersNotInWord: 'A', 'Ą', 'B', 'C', 'Ć', 'D', 'Ę', 'F', 'G', 'H', 'I', 'J', 'L', 'Ł', 'M', 'N', 'Ń', 'Ó', 'P', 'R', 'S', 'Ś', 'U', 'W', 'Y', 'Z', 'Ź', 'Ż';
$numberOfLettersNotInWord: 28;