h1 span.less {
  display: inline;
  color: green;
}
.letter-B {
  background-color: #eee;
}
.letter-C {
  background-color: #eee;
}
.letter-E {
  background-color: #eee;
}
.letter-N {
  background-color: #eee;
}
.letter-R {
  background-color: #eee;
}
.letter-S {
  background-color: #eee;
}
.letter-Y {
  background-color: #eee;
}
.letter-Z {
  background-color: #eee;
}
.letter-A {
  background-color: #111;
}
.letter-Ą {
  background-color: #111;
}
.letter-Ć {
  background-color: #111;
}
.letter-D {
  background-color: #111;
}
.letter-Ę {
  background-color: #111;
}
.letter-F {
  background-color: #111;
}
.letter-G {
  background-color: #111;
}
.letter-H {
  background-color: #111;
}
.letter-I {
  background-color: #111;
}
.letter-J {
  background-color: #111;
}
.letter-K {
  background-color: #111;
}
.letter-L {
  background-color: #111;
}
.letter-Ł {
  background-color: #111;
}
.letter-M {
  background-color: #111;
}
.letter-Ń {
  background-color: #111;
}
.letter-O {
  background-color: #111;
}
.letter-Ó {
  background-color: #111;
}
.letter-P {
  background-color: #111;
}
.letter-Ś {
  background-color: #111;
}
.letter-T {
  background-color: #111;
}
.letter-U {
  background-color: #111;
}
.letter-W {
  background-color: #111;
}
.letter-Ź {
  background-color: #111;
}
.letter-Ż {
  background-color: #111;
}
