// DEFAULT

@import "vars";

$COLOR: green;

h1 {
  span {
    &.scss {
      display: inline;
      color: $COLOR;
    }
  }
}

// @each $letter in $lettersInWord {
//   .letter-#{$letter} {
//     font-weight: bold;
//   }
// }
//
// @each $letter in $lettersNotInWord {
//   .letter-#{$letter} {
//     font-style: italic;
//   }
// }

// CUSTOM

h1 span { display: none; }

.good { color: green; }
.bad { color: red; }

.letter {
  display: inline-block;
  width: 30px;
  opacity: 0;
}
.hangman {
  outline: 1px solid green;
}
.hangman > * {
  display: none;
}

.checkbox.bad:checked {
  $this: checkbox;
  ~ .hangman {
    .hangman-part-1 {
      display: block;
    }
  }
  ~ .#{$this}.bad:checked {
    ~ .hangman {
      .hangman-part-2 {
        display: block;
      }
    }
    ~ .#{$this}.bad:checked {
      ~ .hangman {
        .hangman-part-3 {
          display: block;
        }
      }
      ~ .#{$this}.bad:checked {
        ~ .hangman {
          .hangman-part-4 {
            display: block;
          }
        }
        ~ .#{$this}.bad:checked {
          ~ .hangman {
            .hangman-part-5 {
              display: block;
            }
          }
          ~ .#{$this}.bad:checked {
            ~ .hangman {
              .hangman-part-6 {
                display: block;
              }
            }
            ~ .keyboard {
              .label {
                pointer-events: none;
              }
            }
            ~ .modal--lose {
              display: block;
            }
          }
        }
      }
    }
  }
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  display: none;
}

body {
  padding: 0;
  margin: 0;
  overflow: hidden;
}
.game {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-flow: row nowrap;
  width: 500vw;
}
.game__item {
  flex: 0 0 100vw;
  width: 100vw;
  height: 100vh;
}
.game__item:first-child {
  background-color: #fff;
  position: relative;
  z-index: 1;
}
.game__item:nth-child(2) {
  background-color: yellow;
  position: relative;
  z-index: 2;
}
.game__item:nth-child(3) {
  background-color: red;
  position: relative;
  z-index: 3;
}
.game__item:nth-child(4) {
  background-color: orange;
  position: relative;
  z-index: 4;
}
.game__item:nth-child(5) {
  background-color: violet;
  position: relative;
  z-index: 5;
}
